<div class="task-page">
  <app-back-button />
  <h2>Gerenciar Tarefas</h2>

  <div class="filters">
    <select data-testid="filter-user" [(ngModel)]="filterUserId" (change)="applyFilters()">
      <option value="">Todos os usuários</option>
      <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
    </select>

    <select data-testid="filter-status" [(ngModel)]="filterStatus" (change)="applyFilters()">
      <option value="">Todos os status</option>
      <option *ngFor="let status of statuses" [value]="status">
        {{ getStatusLabel(status) }}
      </option>
    </select>

    <button (click)="openCreateModal()">Criar nova</button>
  </div>

  <app-task-list [tasks]="filteredTasks" [users]="users" (edit)="openEditModal($event)"
    (delete)="deleteTask($event)"></app-task-list>

  <app-task-form *ngIf="isModalOpen" [task]="selectedTask" [isEdit]="isEditMode" [users]="users" (close)="closeModal()"
    (saved)="onSaved()"></app-task-form>

  <div class="modal-backdrop" *ngIf="isConfirmDeleteOpen">
    <div class="modal">
      <h3>Tem certeza que deseja excluir esta tarefa?</h3>
      <div class="actions">
        <button (click)="confirmDelete()">Sim</button>
        <button (click)="cancelDelete()">Cancelar</button>
      </div>
    </div>
  </div>

  <div class="feedback-message" *ngIf="feedbackMessage">
    {{ feedbackMessage }}
  </div>

</div>