<div class="modal-backdrop">
  <div class="modal">
    <h3>{{ isEdit ? 'Editar usuário' : 'Criar novo usuário' }}</h3>

    <form [formGroup]="userForm" (ngSubmit)="submit()">
      <label>
        Nome:
        <input formControlName="name" />
        <small *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
          Nome é obrigatório.
        </small>
      </label>

      <label>
        E-mail:
        <input formControlName="email" />
        <small *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
          E-mail inválido ou vazio.
        </small>
      </label>

      <div class="actions">
        <button type="button" (click)="cancel()">Cancelar</button>
        <button type="submit" [disabled]="userForm.invalid">Salvar</button>
      </div>
    </form>
  </div>
</div>
