<div class="modal-backdrop">
  <div class="modal">
    <h3>{{ isEdit ? 'Editar Tarefa' : 'Criar Tarefa' }}</h3>

    <div class="feedback-message" *ngIf="feedbackMessage">
      {{ feedbackMessage }}
    </div>
    <form [formGroup]="taskForm" (ngSubmit)="submit()">
      <label>
        Título: <span class="required">*</span>
        <input formControlName="title" />
        <small *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched">
          Título obrigatório.
        </small>
      </label>

      <label>
        Descrição: <span class="required">*</span>
        <textarea formControlName="description"></textarea>
      </label>

      <label>
        Data Limite: (Opcional)
        <input type="date" formControlName="dueDate" />
      </label>

      <label *ngIf="isEdit">
        Status:
        <select formControlName="status">
          <option *ngFor="let status of statuses" [value]="status">
            {{ getStatusLabel(status) }}
          </option>
        </select>
      </label>

      <label>
        Usuário responsável: <span class="required">*</span>
        <select formControlName="userId">
          <option value="">Todos os usuários</option>
          <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
        </select>
        <small *ngIf="taskForm.get('userId')?.invalid && taskForm.get('userId')?.touched">
          Usuário obrigatório.
        </small>
      </label>

      <div class="actions">
        <button type="button" (click)="cancel()">Cancelar</button>
        <button type="submit" [disabled]="taskForm.invalid || feedbackMessage">
          Salvar
        </button>
      </div>
    </form>
  </div>
</div>